<div class="p-4 text-center bg-light float">
    <button routerLink="/add-game" class="container">Add Game</button>
    <h4 class="mb-3">Recorded Games</h4>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>Story Teller</th>
            <th>Script</th>
            <th>Winning Alignment</th>
            <th>Player Count</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let game of games" [class.active-row]="game === selectedGame" (click)="onSelect(game)">
            <td>{{game.storyTeller.name}}</td>
            <td>{{game.script.name}}</td>
            <td *ngIf="game.winningAlignment === 'GOOD'; else playerEvil">😇 Good</td>
            <ng-template #playerEvil><td>😈 Evil</td></ng-template>
            <td>{{game.players.length}}</td>
            <td>{{game.date | date: 'dd-MM-yyyy HH:mm'}}</td>
        </tr>
    </tbody>
</table>