button {
    font-family: sans-serif;
    float: none;
    width: fit-content;
    margin: 10px;
}

table {
    float: left;
}

form {
    margin: 10px;
}

.trash {
    text-align: center;
}

.container {
    max-width: 600px;
}