<div class="p-4 text-center bg-light float">
    <h4 class="mb-3">Game Details</h4>
</div>
<table class="styled-table" *ngIf="game != null">
    <thead>
        <tr>
            <th>Story Teller</th>
            <th>Script</th>
            <th>Winning Alignment</th>
            <th>Player Count</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{game.storyTeller.name}}</td>
            <td>{{game.script.name}}</td>
            <td *ngIf="game.winningAlignment === 'GOOD'; else playerEvil">😇 Good</td>
            <ng-template #playerEvil><td>😈 Evil</td></ng-template>
            <td>{{game.players.length}}</td>
            <td>{{game.date | date: 'dd-MM-yyyy HH:mm'}}</td>
        </tr>
    </tbody>
</table>
<div class="p-4 text-center bg-light float">
    <h4 class="mb-3">Player Details</h4>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Role</th>
            <th>Alignment</th>
            <th>Won</th>
            <th>Died</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let gamePlayer of gamePlayers">
            <td>{{gamePlayer.player.name}}</td>
            <td>{{gamePlayer.role.name}}</td>
            <td *ngIf="gamePlayer.alignment === 'GOOD'; else playerEvil">😇 Good</td>
            <ng-template #playerEvil><td>😈 Evil</td></ng-template>
            <td *ngIf="gamePlayer.won; else playerLost">🏆 Won</td>
            <ng-template #playerLost><td>🏳️ Lost</td></ng-template>
            <td *ngIf="gamePlayer.died; else playerAlive"> 💀 Died</td>
            <ng-template #playerAlive><td>❤️ Alive</td></ng-template>
        </tr>
    </tbody>
</table>